workday-cache/.settings/org.eclipse.core.resources.prefs
workday-cache/.settings/org.eclipse.m2e.core.prefs
workday-cache/workday-distcache/.settings/org.eclipse.core.resources.prefs
workday-cache/workday-distcache/.settings/org.eclipse.jdt.core.prefs
workday-cache/workday-distcache/.settings/org.eclipse.m2e.core.prefs
workday-cache/workday-models/.settings/org.eclipse.core.resources.prefs
workday-cache/workday-models/.settings/org.eclipse.jdt.core.prefs
workday-cache/workday-models/.settings/org.eclipse.m2e.core.prefs
